body{
     background-color:#F9BDC5;
}
h1{
       font-family: arial;
       font-size: 45px; 
       color:purple;
       text-align: center;
}
#lisa{
       width: 249px;
       height: 220;
       border-radius: 10%;
       border: 2px solid #A53372
}
h2, h3, p{
       text-align:center;
}
img{
    display: block;
    margin: 0 auto; 
}
#lisa{
     width:240px;
     height:300;
     border-radius:20%
     border: 2px solid #71A9B3
}
button{
     display:block;
     margin:0 auto;
     background-color:purple;
     padding: 15px 32px
}
#lisa:hover{
  box-shadow: 0 0 2px 1px blue;
  transform: scale(1.5);
}
 button:hover{
  background-color:blue;